.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.login-form{
width:100%;
max-width:330px;
padding: 15px;
margin:auto;
height: 100%;
}
.fa{margin-right:20px;}

.fb-btn{
  background: #3B5998;
  color: white;
 margin: 5px 2px;
}
